@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #043370;
}
#alert {
    color: #ff5f5f;
}
#IM2017 {
    max-width: 20em;
}
#IM2021 {
    max-width: 20em;
}
.logo {
    width: 10em;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1a2a6d;
}
.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}